:root {
  /* Color */
  --accent-color: #404bbf;
  --primary-text-color: #2e2f42;
  --decoration-color: #4d5ae5;

  /* Others */
  --indent: 24px;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
}

/*========== COMPONENTS ==========*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--primary-text-color);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-set-item {
  flex-basis: calc(100% - var(--indent) * 3 - 1 / 3);
}

.card-set-element {
  flex-basis: calc(100% - var(--indent) * 4 - 1 / 4);
}

/*========== HEADER ==========*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-right {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.menu-link {
  position: relative;
  padding: 24px 0;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color var(--transition-dur-and-func);
}

.menu-link.active {
  color: var(--accent-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.menu-link::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.menu-link.active::after {
  background-color: #404bbf;
}

.header-contacts {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contact {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms var(--transition-dur-and-func);
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

/*========== HERO ==========*/

.hero {
  max-width: 1440px;
  padding: 188px 0;
  margin: 0 auto;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url('../images/index-img/hero/hero-img.jpg');
  background-color: #2e2f42b2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-btn {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
  transition: background-color var(--transition-dur-and-func);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/*========== ADVANTAGES ==========*/

.adv {
  padding: 120px 0;
}

.adv-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.adv-item {
  width: 264px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
}

/*========== EXAMPLES ==========*/

.exmpl {
  padding-bottom: 120px;
}

/*========== OUR TEAM ==========*/

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.galery-wrapper {
  padding: 32px 0;
  text-align: center;
}

.galery-text {
  margin-bottom: 8px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social-icon {
  fill: #f4f4fd;
}

.social-link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color var(--transition-dur-and-func);
}

.social-link-item:hover,
.social-link-item:focus {
  background-color: #404bbf;
}

/*========== COSTUMERS ==========*/

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.customer-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customer-link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color var(--transition-dur-and-func),
    color var(--transition-dur-and-func);
}

.customer-link:hover,
.customer-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.customer-icon {
  fill: currentColor;
  transition: fill var(--transition-dur-and-func);
}

.customer-icon:hover,
.customer-icon:focus {
  fill: #404bbf;
}

/*========== FOOTER ==========*/

.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.logo-footer-right {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-first-wrapper {
  display: inline-block;
  margin-right: 120px;
}

.social-list-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-second-title {
  margin-bottom: 16px;
  font-weight: 500;
  color: #ffffff;
}

.social-link-item-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color var(--transition-dur-and-func);
}

.social-link-item-footer:hover,
.social-link-item-footer:focus {
  background-color: #31d0aa;
}

.footer-third-wrapper {
  margin-left: 80px;
}

.footer-subscribe-title {
  margin-bottom: 16px;
  font-weight: 500;
  color: #ffffff;
}

.footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;

}

.footer-form-input {
  min-width: 264px;
  height: 40px;
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 8px 16px;
}


.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #FFFFFF;
}

.footer-subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  min-width: 165px;
  height: 40px;
  border: none;
  background-color: var(--decoration-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
  padding: 8px 24px;
  transition: background-color var(--transition-dur-and-func);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: #404bbf;
}


/*========== MODAL WINDOW ==========*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-dur-and-func),
    visibility var(--transition-dur-and-func);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 576px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px;
  transition: transform var(--transition-dur-and-func);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color var(--transition-dur-and-func),
    border var(--transition-dur-and-func);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn-icon {
  transition: fill var(--transition-dur-and-func);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #ffffff;
}

/*========== MODAL FORM ==========*/

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.modal-form-label {
  margin-bottom: 8px;
}

.modal-form-input-descr {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8E8F99;
  margin-bottom: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--transition-dur-and-func);
}

.modal-form-input:focus {
  outline: none;
  border-color: #4D5AE5;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2E2F42;
  transition: fill var(--transition-dur-and-func);
}

.modal-form-input:focus+.modal-form-input-icon {
  fill: #4D5AE5;
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  transition: border-color var(--transition-dur-and-func);
}

.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-message:focus {
  outline: none;
  border-color: #4D5AE5;
}

.modal-form-check-descr {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8E8F99;
  margin-bottom: 24px;
  user-select: none;
}

.modal-form-check-descr::before {
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  content: '';
  cursor: pointer;
  margin-right: 8px;
}

.modal-form-check:checked+.modal-form-check-descr::before {
  background-color: var(--accent-color);
  border: 1px solid #404BBF;
  border-radius: 2px;
  background-image: url(../images/checked.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.modal-form-submit {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
  transition: background-color var(--transition-dur-and-func);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: #404bbf;
}

/*========== PORTFOLIO PAGE ==========*/

.portfolio {
  padding: 96px 0 120px;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
  gap: 24px;
}

.portfolio-btn {
  padding: 12px 24px;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4fd;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  border: 1px solid transparent;
  background-color: #404bbf;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.img-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  background-color: #ffffff;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-link {
  display: block;
  transition: box-shadow var(--transition-dur-and-func);
}

.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translate(0, 0);
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform var(--transition-dur-and-func);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  color: #f4f4fd;
}

.portfolio-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}